## Imports

In [ ]:
import pandas as pd
from sdv.single_table import CTGANSynthesizer
from sdv.metadata import SingleTableMetadata

## Data loading and overview

In [96]:
df = pd.read_csv("QA_encoded.csv")

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 44 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     135 non-null    int64
 1   Age                                    135 non-null    int64
 2   Gender                                 135 non-null    int64
 3   Current_residence                      135 non-null    int64
 4   District                               135 non-null    int64
 5   Parent_occupation                      135 non-null    int64
 6   Displacement                           135 non-null    int64
 7   Displaced_months                       135 non-null    int64
 8   Parent_current_employment              135 non-null    int64
 9   Experiencing_bombs                     135 non-null    int64
 10  Family_member_loss                     135 non-null    int64
 11  House_destruction                      135 non-null    int64
 12  Separated_from_parent                  135 non-null    int64
 13  Food/water_shortages                   135 non-null    int64
 14  Sleeping_before                        135 non-null    int64
 15  Hypervigilance_after                   135 non-null    int64
 16  Nightmares_before                      135 non-null    int64
 17  Nightmares_after                       135 non-null    int64
 18  Worry/fear_before                      135 non-null    int64
 19  Worry/fear_after                       135 non-null    int64
 20  Aggressive_behavior_before             135 non-null    int64
 21  Aggressive_behavior_after              135 non-null    int64
 22  Family/friends_withdrawal_before       135 non-null    int64
 23  Family/friends_withdrawal_after        135 non-null    int64
 24  Mood swings_before                     135 non-null    int64
 25  Mood_swings_after                      135 non-null    int64
 26  Avoid_war_topics_after                 135 non-null    int64
 27  Coping_family_and_friends              135 non-null    int64
 28  Coping_playing_games/sports            135 non-null    int64
 29  Coping_drawing/writing/reading         135 non-null    int64
 30  Coping_religious_practices             135 non-null    int64
 31  Coping_avoidance_of_triggers           135 non-null    int64
 32  Received_psychological_support         135 non-null    int64
 33  Effectiveness                          135 non-null    int64
 34  Attend_school_during                   135 non-null    int64
 35  Attend_school_currently                135 non-null    int64
 36  Academic_performance_after             135 non-null    int64
 37  Participation_in_social_activities     135 non-null    int64
 38  Current_need_of_psychological_support  135 non-null    int64
 39  Current_need_of_educational_materials  135 non-null    int64
 40  Current_need_of_safe_housing           135 non-null    int64
 41  Current_need_of_medical_care           135 non-null    int64
 42  Current_need_of_food/water             135 non-null    int64
 43  Mental_health_category                 135 non-null    object
dtypes: int64(43), object(1)
memory usage: 46.5+ KB

## Oversampling using CT-GAN

In [98]:
minor = df[df['Mental_health_category'] == 'Needs help']
medium = df[df['Mental_health_category'] == 'Stable']
major = df[df['Mental_health_category'] == 'Thriving']

In [99]:
# augmenting minor class

metadata = SingleTableMetadata()
metadata.detect_from_dataframe(minor)
metadata.update_column(column_name='id', sdtype='id')
metadata.set_primary_key(column_name='id')

model = CTGANSynthesizer(metadata)
model.fit(minor)

new_minor = model.sample(90)

c:\Users\Administrator\miniconda3\envs\eda_env\lib\site-packages\sdv\single_table\base.py:119: FutureWarning: The 'SingleTableMetadata' is deprecated. Please use the new 'Metadata' class for synthesizers.
  warnings.warn(DEPRECATION_MSG, FutureWarning)
c:\Users\Administrator\miniconda3\envs\eda_env\lib\site-packages\sdv\single_table\base.py:104: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

In [100]:
# augmenting medium class

metadata = SingleTableMetadata()
metadata.detect_from_dataframe(medium)
metadata.update_column(column_name='id', sdtype='id')
metadata.set_primary_key(column_name='id')

model = CTGANSynthesizer(metadata)
model.fit(medium)

new_medium = model.sample(100)

c:\Users\Administrator\miniconda3\envs\eda_env\lib\site-packages\sdv\metadata\single_table.py:778: UserWarning: There is an existing primary key 'id'. This key will be removed.
  warnings.warn(
c:\Users\Administrator\miniconda3\envs\eda_env\lib\site-packages\sdv\single_table\base.py:119: FutureWarning: The 'SingleTableMetadata' is deprecated. Please use the new 'Metadata' class for synthesizers.
  warnings.warn(DEPRECATION_MSG, FutureWarning)
c:\Users\Administrator\miniconda3\envs\eda_env\lib\site-packages\sdv\single_table\base.py:104: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

In [101]:
major

,id,Age,Gender,Current_residence,District,Parent_occupation,Displacement,Displaced_months,Parent_current_employment,Experiencing_bombs,...,Attend_school_during,Attend_school_currently,Academic_performance_after,Participation_in_social_activities,Current_need_of_psychological_support,Current_need_of_educational_materials,Current_need_of_safe_housing,Current_need_of_medical_care,Current_need_of_food/water,Mental_health_category
0,0,8,1,1,1,3,2,0,3,2,...,1,1,2,1,3,2,2,2,2,Thriving
1,1,8,2,1,4,1,1,2,1,1,...,2,1,1,1,2,2,2,2,2,Thriving
3,3,8,1,1,4,1,1,2,1,1,...,4,1,1,1,1,2,2,2,2,Thriving
6,6,9,1,1,4,1,1,4,1,1,...,4,1,1,1,2,2,2,2,2,Thriving
7,7,8,2,2,4,1,1,5,1,1,...,2,2,2,2,3,2,2,2,2,Thriving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,126,10,1,1,4,1,1,3,1,2,...,1,1,2,2,2,2,2,2,2,Thriving
128,128,9,1,1,4,1,1,2,1,1,...,2,1,1,1,2,2,2,2,2,Thriving
129,129,10,2,1,4,1,1,1,1,1,...,3,1,1,2,2,2,2,2,2,Thriving
130,130,8,2,1,4,1,1,2,1,1,...,4,1,1,1,2,2,2,2,2,Thriving
132,132,8,2,2,4,1,1,1,1,1,...,2,2,1,2,2,2,2,2,2,Thriving

In [102]:
augmented_df = pd.concat([major, new_medium, new_minor], ignore_index=True)
augmented_df

,id,Age,Gender,Current_residence,District,Parent_occupation,Displacement,Displaced_months,Parent_current_employment,Experiencing_bombs,...,Attend_school_during,Attend_school_currently,Academic_performance_after,Participation_in_social_activities,Current_need_of_psychological_support,Current_need_of_educational_materials,Current_need_of_safe_housing,Current_need_of_medical_care,Current_need_of_food/water,Mental_health_category
0,0,8,1,1,1,3,2,0,3,2,...,1,1,2,1,3,2,2,2,2,Thriving
1,1,8,2,1,4,1,1,2,1,1,...,2,1,1,1,2,2,2,2,2,Thriving
2,3,8,1,1,4,1,1,2,1,1,...,4,1,1,1,1,2,2,2,2,Thriving
3,6,9,1,1,4,1,1,4,1,1,...,4,1,1,1,2,2,2,2,2,Thriving
4,7,8,2,2,4,1,1,5,1,1,...,2,2,2,2,3,2,2,2,2,Thriving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,13994480,10,2,1,6,1,2,0,3,1,...,2,1,1,2,1,3,2,2,2,Needs help
290,1252651,8,2,1,2,1,2,0,1,1,...,3,1,1,2,1,2,2,2,2,Needs help
291,15540153,9,2,1,3,1,2,0,1,1,...,1,1,2,2,1,2,2,2,2,Needs help
292,7301618,10,2,1,1,1,2,0,3,1,...,1,1,1,1,1,3,2,2,2,Needs help
293,6356958,9,2,1,5,1,2,0,1,1,...,1,1,2,2,2,3,2,2,2,Needs help

In [103]:
augmented_df.drop("id", axis = 1, inplace=True)

## Feature engineering

In [104]:
# this index measures the symptoms before the war with lowest 0 and highest 5 for each attribute
augmented_df['index_before'] = augmented_df[['Sleeping_before', 'Nightmares_before','Worry/fear_before', 
                         'Aggressive_behavior_before', 'Family/friends_withdrawal_before',
                         'Mood swings_before']].mean(axis=1)

# this index measures the symptoms after the war with lowest 0 and highest 5 for each attribute
augmented_df['index_after'] = augmented_df[['Hypervigilance_after', 'Nightmares_after','Worry/fear_after', 
                         'Aggressive_behavior_after', 'Family/friends_withdrawal_after',
                         'Mood_swings_after']].mean(axis=1)
augmented_df['index_before'] = augmented_df['index_before'].round(2)
augmented_df['index_after'] = augmented_df['index_after'].round(2)

In [105]:
cols = [ 'Sleeping_before', 'Nightmares_before','Worry/fear_before', 
        'Aggressive_behavior_before', 'Family/friends_withdrawal_before',
        'Mood swings_before', 'Hypervigilance_after', 'Nightmares_after','Worry/fear_after', 
        'Aggressive_behavior_after', 'Family/friends_withdrawal_after',
        'Mood_swings_after']
augmented_df.drop(cols, axis = 1, inplace=True)

In [106]:
augmented_df

,Age,Gender,Current_residence,District,Parent_occupation,Displacement,Displaced_months,Parent_current_employment,Experiencing_bombs,Family_member_loss,...,Academic_performance_after,Participation_in_social_activities,Current_need_of_psychological_support,Current_need_of_educational_materials,Current_need_of_safe_housing,Current_need_of_medical_care,Current_need_of_food/water,Mental_health_category,index_before,index_after
0,8,1,1,1,3,2,0,3,2,2,...,2,1,3,2,2,2,2,Thriving,2.17,2.17
1,8,2,1,4,1,1,2,1,1,2,...,1,1,2,2,2,2,2,Thriving,2.33,3.33
2,8,1,1,4,1,1,2,1,1,2,...,1,1,1,2,2,2,2,Thriving,1.67,2.33
3,9,1,1,4,1,1,4,1,1,2,...,1,1,2,2,2,2,2,Thriving,1.00,2.17
4,8,2,2,4,1,1,5,1,1,1,...,2,2,3,2,2,2,2,Thriving,1.33,2.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,10,2,1,6,1,2,0,3,1,2,...,1,2,1,3,2,2,2,Needs help,1.17,2.00
290,8,2,1,2,1,2,0,1,1,2,...,1,2,1,2,2,2,2,Needs help,1.50,3.17
291,9,2,1,3,1,2,0,1,1,2,...,2,2,1,2,2,2,2,Needs help,1.50,3.00
292,10,2,1,1,1,2,0,3,1,2,...,1,1,1,3,2,2,2,Needs help,1.33,2.50
293,9,2,1,5,1,2,0,1,1,2,...,2,2,2,3,2,2,2,Needs help,1.50,2.50

## Outcome saved in a .csv

In [107]:
augmented_df.to_csv("Model_input.csv", index=False)